

.container
  <a href="http://twitch.tv/pandadragoon_gaming"><img class="twitch" src="http://streambadge.com/twitch/dark/pandadragoon_gaming.png" alt="pandorzilla's Streambadge"></a>
  = render "shared/adh"
  - @posts.each do |post|
    %section.article.clearfix
      = image_tag "#{post.banner_sm}"
      .content.clearfix
        %h3
          = post.tagline
        %h2
          = link_to post.title, post_path(post)
        %p
          =link_to "#{post.user.name}", about_path
          %span
            = post.created_datetime
        %p
          = post.description
          =link_to "Read More", post_path(post)
