<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="usYl05GCyhOkD27v9abuba4Xq3B7iB8My1LnUuCx9t0" />
  <title>Pandadragoon Gaming</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
